<ion-header>
  <ion-navbar>
    <ion-title>{{speaker?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="speaker-detail">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center *ngIf="speaker">
    <img src="../../assets/imgs/speakers-avatar/{{ speaker.photo }}" class="speaker-avatar" [alt]="speaker.name"><br>

    <button ion-button icon-only clear small icon-left (click)="sendMail()">
      <ion-icon name="mail"></ion-icon>
      {{ speaker.email }}
    </button>

  </div>

  <p>{{speaker?.description}}</p>
</ion-content>
