<ion-header>
    <!-- <ion-navbar no-border-bottom color="primary">

      <ion-toolbar no-border-top>

        <ion-title>Favorite lectures</ion-title>

        <ion-buttons end>
          <ion-checkbox (ionChange)="selectAll()" *ngIf="!favoriteAll" class="schedule-selectAll" [checked]="selectAllLectures"></ion-checkbox>

          <button ion-button icon-only *ngIf="!favoriteAll" (click)="favoriteLectures()" class="schedule-favoriteAll">
            <ion-icon name="star-outline"></ion-icon>
          </button>

          <button ion-button icon-only *ngIf="favoriteAll" class="schedule-favoriteAll">
            <ion-icon name="star"></ion-icon>
          </button>

        </ion-buttons>

      </ion-toolbar>

    </ion-navbar> -->

  </ion-header>

  <ion-content>

    <ion-list class="schedule-list">

      <ion-item-sliding *ngFor="let lecture of lectures" (press)="lecturePress($event)">

        <ion-item *ngIf="!lecturesFavorited?.includes(lecture.id)">
          <ion-label>
            <h3>{{ lecture.title }} </h3>
            <p>
              {{ lecture.startTime }} &mdash;
              {{ lecture.endTime }}:
              {{ lecture.room }}
            </p>
          </ion-label>
          <ion-checkbox end (ionChange)="addLisToFavor(lecture.id)" [checked]="selectAllLectures"></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="lecturesFavorited?.includes(lecture.id)">
          <ion-label>
            <h3>{{ lecture.title }} </h3>
            <p>
              {{ lecture.startTime }} &mdash;
              {{ lecture.endTime }}:
              {{ lecture.room }}
            </p>
          </ion-label>
          <ion-checkbox end disabled checked></ion-checkbox>
        </ion-item>

      </ion-item-sliding>

    </ion-list>

</ion-content>
