<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="menu"></ion-icon>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-input type="text" [(ngModel)]="note.title"></ion-input>
    </ion-title>
  </ion-toolbar>

  <!-- <ion-navbar color="primary">
    <ion-title>
      <ion-input type="text" [(ngModel)]="note.title"></ion-input>
    </ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content padding>

  <ion-fab right top edge *ngIf="note.id">
    <button ion-fab mini color="dark"><ion-icon name="more"></ion-icon></button>

    <ion-fab-list side="bottom">
      <button ion-fab (click)="saveNote()" class="note-more"><ion-icon name="checkmark"></ion-icon></button>
      <button ion-fab (click)="alertRemoveNote()"><ion-icon name="trash" class="note-more-trash"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab right top edge *ngIf="!note.id">
    <button ion-fab mini color="dark" (click)="saveNote()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

  <textarea class="note" [(ngModel)]="note.text" autofocus></textarea>
</ion-content>

