<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-margin-start">
      <ion-title>Fotos</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input placeholder="Insira o Titulo" [(ngModel)]="photo.title"> </ion-input>
    </ion-item>
    <ion-item>
      <po-upload
        name="upload"
        p-label="PO Upload"
        p-hide-send-button
        [(ngModel)]="photoFile"
        p-url="blabla"
        (p-success)="resumeUploadSuccess()"
      >
      </po-upload>
    </ion-item>

    <ion-button fill="outline" expand="block" style="text-transform: none" (click)="sendFiles()">Enviar</ion-button>
  </ion-list>
</ion-content>
