.photo {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 16px;
}

.photo-button {
  text-transform: none;
  margin-top: 16px;
}

.edit-photo-icon {
  position: absolute;
  top: 0;
  background-color: #ccc;
}

.container-image {
  position: relative;
}
