<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-margin-start">
      <ion-input type="text" [(ngModel)]="photo.title"></ion-input>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <textarea class="note" [(ngModel)]="photo.text" autofocus></textarea>

  <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="photo.id">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list class="ionic-fab-list" side="bottom">
      <ion-fab-button (click)="savePhoto()" class="ionic-fab-list-item" color="light">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="alertRemovePhoto()" class="ionic-fab-list-item" color="light">
        <ion-icon class="note-more-trash" name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" *ngIf="!photo.id">
    <ion-fab-button (click)="savePhoto()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>