.add-photo-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.gallery-photo {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 16px;
}

.gallery-updated-date {
  color: gray;
  font-size: 10px;
}

.gallery-title {
  font-weight: bold;
}
