.notes-content {
  background-color: #ececec;
}

.notes-button {
  color: rgba(5, 45, 62, 0.6);
}

.notes-updatedDate, .notes-updatedDate-offline {
  float: right;
  width: 40%;
  text-align: right;
}

.notes-updatedDate {
  color: gray;
  font-size: 10px;
}

.notes-updatedDate-offline {
  color: #ce9200;
  font-size: 14px;
}

.notes-title {
  float: left;
  width: 60%;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
