.notes-updated-date {
  color: gray;
  font-size: 10px;
}

.notes-updated-date-offline {
  color: #ce9200;
  font-size: 14px;
}

.notes-title {
  font-weight: bold;
}

.notes-title, .notes-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}