<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-margin-start">Schedule</ion-title>

  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      class="schedule-input-search"
      [(ngModel)]="queryText"
      (ionChange)="lectureFilter()"
      placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content class="schedule">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <po-tabs>
    <po-tab
      p-active
      p-label="All"
      (p-click)="onClickTab($event.label)">
      <ng-container *ngTemplateOutlet="scheduleList"></ng-container>
    </po-tab>

    <po-tab
      p-label="Favorites"
      [p-disabled]="!userId"
      (p-click)="onClickTab($event.label)">
      <ng-container *ngTemplateOutlet="scheduleList"></ng-container>
    </po-tab>
  </po-tabs>

</ion-content>

<ng-template #scheduleList>
  <app-schedule-list
    [segment]="segment"
    [lectures]="filteredLectures"
    [currentUser]="userId">
  </app-schedule-list>
</ng-template>